// _colors
$ghost-white: #E8E9F3;
$light-gray: #CECECE;
$white: #FFFFFF; 
$medium-yellow-red: #2AB7CA;
$gainsboro: #E6E6EA;
$pacific-blue: #2AB7CA;
$black: #000009;
$denim-blue: #2541B2;
$azure: #3a86ff;
$tomato: #FF674D;
$imperial-red: #EF233C;
$alicia-blue: #EDF2F4;
$capri:#3ABEFF;
$violet-blue-crayola: #6369D1;
$orange-peel: #FF9F1C;
$blood-orange: #F6511D;
$purple: #673ab8;
$default: $purple;